input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: transparent;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background: transparent !important;
  color: -internal-light-dark(black, white) !important;
}
